@model Book_Tracker.Models.DeleteBookDTO
<div class="container">

<h1>Удалить книгу</h1>

<form asp-action="Delete">
        <div class="container">
            
            <p>Вы действительно хотите удалить книгу "@Model.Title"?</p>

            <form asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a asp-action="Index" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </form>
